/* ===== FOOTER PRO ===== */

.footer-pro {
  background: linear-gradient(135deg, #c9ced7, #30353b);
  color: white;
  padding: 25px 0;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.footer-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left h3 {
  margin: 0;
  font-size: 18px;
}

.footer-left span {
  font-size: 13px;
  opacity: 0.7;
}

.footer-right p {
  margin: 0;
  font-size: 14px;
}

.footer-right strong {
  color: #696969;
}